/* 페이지 초기설정 */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}


/* 페이지 CSS */

/* 페이지 감싸는 wrap */
.wrap {
    width: 100%;
    overflow: hidden;
    /* height: 1600px; */
    /* background-color: #e6e6e6; */
}

/* 헤더시작 */
header {
    width: 100%;
    height: 70px;
    position: fixed;
    /* position: relative; */
    border-bottom: 1px solid black;
    background-color: white;
}

/* 로고 */
.logo{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.logo :hover {
    color: grey;
}

/* 네비 아이콘 */
.icons{
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 24px;
}

.icons > i {
    margin-right: 5px;
    cursor: pointer;
}

.icons > i:hover{
    color: grey;
}

.icons > #info {
    display: none;
}

.info-btn {
    margin-right: 10px;
    cursor: pointer;
}

.info-btn > i:hover{
    color: grey;
}

.popup {
    width: 200px;
    position: absolute;
    top: 150%;
    right: 300%;
    background-color: white;
    border: 1px solid grey;
    color: black;
    text-align: center;
    display: none;
    z-index: 9000;
    font-size: 16px;
}

#info:checked ~ .popup{
    display: block;
}

#music {
    display: none;
}

.music-btn{
    margin-right: 10px;
    cursor: pointer;
}

.music-btn >i:hover{
    color: grey;
}

.music-mp3 {
    display: none;
    position: absolute;
    top: 150%;
    right: 10%;
}

#music:checked ~ .music-mp3{
    display: block;
    opacity: 0.3;
    z-index: 9999;
}

/* 모바일, 태블릿 전용 헤더 */
.mobile-icon{
    z-index: 10000;
}

.side-menu-list{
    position: absolute;
    right: -220px;
    top:58px;
    bottom: 0;
    width: 200px;
    height: 1900px;
    bottom: 0;
    font-size: 24px;
    transition: 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.85);
}

.side-menu-list > a > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("image,audio/story.png");
    background-size: cover;
    margin: 10px 15px 10px 7px;
    padding: 5px;
}


.side-menu-list > a,.side-icons {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    height: 100px;
    padding: 5px 0px;
    text-align: center;
}

.side-menu-list > a {
    display: flex;
    align-items: center;
}

.side-menu-list > a > span {
    color: white;
    font-size: 18px;
    margin-right: 7px;
}

.side-menu-list > a:hover {
    background-color: grey;
}

.side-icons > i {
    padding: 10px;
}

.side-icons > i {
    color: white;
    cursor: pointer;
}

.side-icons > i:hover {
    color: gray;
}

.side-menu-btn > i {
    cursor: pointer;
}

.side-icons > #info-m{
    display: none;
}

.info-m-btn > i {
    margin-right: 20px;
    color: white;
}

.info-m-btn > i:hover{
    color: grey;
    cursor: pointer;
}

.popup-m {
    width: 180px;
    position: absolute;
    top: 0%;
    right: 30%;
    background-color: #e6e6e6;
    text-align: center;
    display: none;
    z-index: 10001;
    font-size: 16px;
}

#info-m:checked ~ .popup-m{
    display: block;
}

#music-m {
    display: none;
}

.music-m-btn{
    margin-left: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.music-m-btn > i{
    color: white;
}

.music-m-btn >i:hover{
    color: grey;
}

.music-m-mp3 {
    display: none;
    position: absolute;
    top: 15%;
    right: 20%;
    z-index: 10001;
}

#music-m:checked ~ .music-m-mp3{
    display: block;
    z-index: 9999;
}

#m-home {
    color: white;
    margin-left: 10px;
}

#m-home:hover{
    color: grey;
}

/* 체크리스트 이용해서 사이드 메뉴 만들기, 사이드 메뉴 숨기기 */
#side-menu {
    display: none;
}

#side-menu:checked ~ .side-menu-list {
    right: -20px;
}

/* 헤더 밑 이미지 */
.bcc-img{
    background-image: url("image,audio/dog-a.jpg");
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: 100% 650px;
    height: 650px;
 }

/* aisde section 감싸는 메인 시작 */
main{
    margin: 0 auto;
    width: 80%;
    height: 90%;
    overflow: hidden;
    z-index: 100;
}

/* aside(왼쪽) */
aside {
    width: 380px;
    /* background-color: pink; */
    float: left;
    text-align: justify;
    margin-top: -30px;
}

.nav > li {
    width: 330px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

.nav > li:first-child{
    font-size: 150px;
}

.nav > li > a >i:first-child{
    margin-left: 24px;
    cursor: pointer;
    text-shadow: 5px 5px 5px grey;
}

.nav > li > a > i:hover{
    color: grey;
}

.nav > li > a > img{
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
    background-image: url("image,audio/story.png");
    background-size: cover;
    margin-right: 20px;
}

.nav > li > a >img:hover{
    border: 5px dotted black;
    background-image: none;
}

.nav > li > span{
    font-size: 16px;
    font-weight: bold;
}

.hash {
    margin-bottom: 7px;
}
/* section(오른쪽) ,모바일+태블릿에서 메인 */
section {
    width: calc(100% - 400px);
    /* background-color: #e6e6e6; */
    float: right;
    text-align: justify;
    margin-top: 20px;
    /* overflow-y: scroll; */
}

section > p {
    margin-top: 30px;
}

/* 푸터 */
footer{
    width: 100%;
    /* background-color: #e6e6e6; */
    overflow: hidden;
    margin-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.made-by{
    float: right;
    padding: 25px 15px 30px 0px;
}

.made-by > span,
.made-by > a >i {
    font-weight: bold;
}

.made-by > span {
    color: rgba(0, 0, 0, 0.55);
}

.made-by > a > i{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.made-by > a > i:hover{
    font-size: 24px;
    color: purple;
}

/* 미디어쿼리 반응형웹 시작 */

/* 모바일 */
@media screen and (max-width:520px) {
    /* header {
        background-color: white;
    } */

    .icons{
        display: none;
    }

    .mobile-icon{
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 30px;
    }

   .side-menu-btn > i:hover{
        color: burlywood;
   }

   .bcc-img{
    background-image: none;
    background-image: url("image,audio/dog-a.jpg");
    background-size: 100% 250px;
    height: 250px;
 }

   main{
       width: 100%;
   }

    aside{
        display: none;
    }

    section{
        float: none;
        width: 100%;
    }
}

/* 태블릿 */
@media screen and (min-width:521px) and (max-width:1000px) {
    /* header {
        background-color: white;
    } */

    .icons{
        display: none;
    }

    .mobile-icon{
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 30px;
    }

    .side-menu-btn > i:hover{
        color: burlywood;
   }

    .bcc-img{
        background-image: url("image,audio/dog-a.jpg");
        background-repeat: no-repeat;
        background-size: 100% 400px;
        height: 400px;
     }

    main{
        width: 90%;
    }

    aside{
        /* float: none; */
        display: none;
        /* width: 100%; */
    }

    section{
        /* float: left; */
        width: 100%;
    }
}

/* pc */
@media screen and (min-width:1001px){
    /* header {
        background-color: white;
    } */

    .mobile-icon{
        display: none;
    }
}
