/* 페이지 초기설정 */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

img{
    box-sizing: border-box;
}

/* 페이지 CSS */

.wrap {
    width: 100%;
    /* height: 1600px; */
    /* background-color: #e6e6e6; */
}

header {
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid black;
    /* background-color: white; */
}

.logo{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.icons{
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 24px;
}

.icons > a > i {
    margin-right: 10px;
}

.side-menu-list{
    position: absolute;
    right: -220px;
    top:58px;
    bottom: 0;
    width: 200px;
    bottom: 0;
    font-size: 24px;
    transition: 0.3s ease-in;
}

.side-menu-list > a,.side-icons{
    display: block;
    text-align: center;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    z-index: 10000;
    height: 30px;
}

.side-menu-list > a:hover{
    background-color: grey;
}

.side-icons >a{
    padding: 0 10px;
}

.side-icons > a > i{
    color: white;
}

.side-icons > a > i:hover{
    color: gray;
}

.side-menu-btn > i {
    cursor: pointer;
}

#side-menu {
    z-index: 1;
    opacity: 0;
}

#side-menu:checked ~ .side-menu-list {
    right: -20px;
}

main{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

aside {
    width: 200px;
    height: 800px;
    /* background-color: pink; */
    float: left;
}

nav > ul {
    padding: 10px;
}

nav > ul > li {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}

nav > ul > li:hover {
    background-color: aliceblue;
    cursor: pointer;
}

section {
    width: calc(100% - 200px);
    height: 800px;
    background-color: #e6e6e6;
    float: right;
}

footer{
    width: 100%;
    /* background-color: #e6e6e6; */
    overflow: hidden;
    border-top: 1px solid grey;
}

.made-by{
    float: right;
    padding: 16px 10px;
}

.made-by > span,
.made-by > a >i {
    font-weight: bold;
    font-size: 16px;
}

/* @media */

@media screen and (max-width:520px) {
    header {
        background-color: white;
    }

    .icons{
        display: none;
    }

    .mobile-icon{
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 30px;
    }

    aside{
        display: none;
    }

    section{
        float: none;
        width: 100%;
    }
    
}

@media screen and (min-width:521px) and (max-width:960px) {
    header {
        background-color: white;
    }

    .icons{
        display: none;
    }

    .mobile-icon{
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 30px;
    }

    aside{
        display: none;
    }

    section{
        float: none;
        width: 100%;
    }
}

@media screen and (min-width:961px){
    header {
        background-color: white;
    }

    .mobile-icon{
        display: none;
    }
}
